h5 {
    color:blueviolet;
}
body {
    background-color: rgb(54, 157, 197);
}
p {
    color:#0a5841;
}body {
background-color: lightblue;
}
h2 {
color:rgb(37, 84, 16);

}
h4 {
    color:coral;
}
i {
color:hotpink;
}